@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--font-body: 'Helveticaneueltpro', 'Helvetica Neue', ui-sans-serif, system-ui, sans-serif;
	--font-heading: 'Helveticaneueltpro', 'Helvetica Neue', ui-sans-serif, system-ui, sans-serif;
	--clr-dark : #121212;
	--clr-white : #ffffff;
	--clr-primary-accent : #3693FF;
	--clr-primary-accent-light : #cce4ff;
	--clr-secondary-accent : #1CE38F;
	--clr-tertiary-accent : #f7dc7d;
	--clr-borders : #FCFAF8;
	--clr-gray : #636363;
	--clr-light-gray : #A3A3A3;
	--clr-dark-gray : #383838;
	--clr-dark-blue : #1d2433;
}
body{
	@apply text-dark-blue bg-white leading-snug font-body font-normal;
}
a{
	@apply transition-colors duration-200 ease-in-out;
}
a:hover{
	@apply text-primary-accent;
}
h1, h2, h3, h4, h5, h6{
	@apply text-dark font-heading;
}
h3{
	@apply text-lg font-medium;
}
@media screen and (min-width: 1024px) {
	h3{
		@apply text-2xl;
	}
}
.splide.our-friends__splide.is-initialized:not(.is-active) .splide__list,
.splide.our-capabilities__splide.is-initialized:not(.is-active) .splide__list{
	@apply lg:flex lg:items-center lg:justify-around lg:gap-x-6 lg:gap-y-9
}
.splide.our-friends__splide.is-initialized:not(.is-active) .splide__list .splide__slide,
.splide.our-capabilities__splide.is-initialized:not(.is-active) .splide__list .splide__slide{
	@apply lg:shrink
}
.partnership__splide.splide.is-initialized:not(.is-active) .splide__list{
	@apply lg:grid lg:grid-cols-3
}
.testimonials__splide .splide__pagination{
	@apply absolute left-0 top-0 transform -translate-y-1/2 gap-1 h-3
}
.testimonials__splide .splide__pagination li{
	@apply w-3 h-3;
	line-height: 0;
}
.testimonials__splide .splide__pagination__page{
	@apply bg-white w-full h-full rounded-full border border-primary-accent border-solid
}
.testimonials__splide .splide__pagination__page.is-active{
	@apply bg-primary-accent
}
summary::-webkit-details-marker {
	display: none;
  }

.prose{
	--tw-prose-body: var(--clr-dark-blue);
	--tw-prose-headings: var(--clr-dark-blue);
	--tw-prose-bullets: var(--clr-dark);
	@apply max-w-none leading-snug
}
.prose :where(h1, h2, h3, h4, h5, h6):not(:where([class~="not-prose"], [class~="not-prose"] *)){
	@apply font-normal leading-solid
}
.prose :where(h1, h2):not(:where([class~="not-prose"], [class~="not-prose"] *)){
	@apply border-b border-solid border-light-gray pb-1
}
.prose :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)){
	@apply text-5xl md:text-7xl
}
.prose :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)){
	@apply lg:text-6xl md:text-4xl text-2xl font-bold md:-mx-8
}
.prose :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)){
	@apply lg:text-4xl md:text-2xl text-base
}
.prose :where(h4):not(:where([class~="not-prose"], [class~="not-prose"] *)){
	@apply lg:text-2xl md:text-xl text-base font-bold
}
.prose :where(h5):not(:where([class~="not-prose"], [class~="not-prose"] *)){
	@apply lg:text-xl md:text-lg text-base font-bold
}
.prose :where(h6):not(:where([class~="not-prose"], [class~="not-prose"] *)){
	@apply lg:text-lg md:text-base text-sm font-bold
}
.prose > *{
	@apply md:px-8
}
#main-form, .form-components-style_formz-form-error--big__y-vA2:empty, .fields-global_form-form-row__DKNAN {
    padding: 0!important
}
.form-components-style_single-step-content__modern__buV1h{
    margin-top: 0!important
}
.form-checkbox-input .formz-checkbox-wrapper {
    gap: 4px!important
}
.form-checkbox-input .formz-checkbox-wrapper > *{
    margin: 0!important;
    flex: 1!important
}
#formz-wrapper .form-theme-button{
    width: 100%!important
}
.form-checkbox-input .formz-checkbox-wrapper{
    padding: 5px 0 0!important
}
[class^="styles_success-submit__modern__"]{
	min-width: 100%!important;
    background-color: var(--clr-borders )!important;
    border-color: var(--clr-gray)!important;
	text-align: center;
}
[class^="styles_form-submit-message__"]{
	padding: 0!important
}
[class^="styles_success-submit__modern__"] > br{
	display: none
}
@media screen and (min-width: 768px) {
	[class^="styles_success-submit__modern__"]{
		padding: 30px!important;
	}
}
@font-face {
	font-family: 'Helveticaneueltpro';
	src: url('./fonts/HelveticaNeueLTPro-bold.woff') format('woff'), url('./fonts/HelveticaNeueLTPro-bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helveticaneueltpro';
	src: url('./fonts/HelveticaNeueLTPro-medium.woff') format('woff'), url('./fonts/HelveticaNeueLTPro-medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helveticaneueltpro';
	src: url('./fonts/HelveticaNeueLTPro-light.woff') format('woff'), url('./fonts/HelveticaNeueLTPro-light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helveticaneueltpro';
	src: url('./fonts/HelveticaNeueLTPro.woff') format('woff'), url('./fonts/HelveticaNeueLTPro.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap
}